html {
  background-color: transparent;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
}

/* UI */

#left-bounding-box {
  position: absolute;
  left: 0;
  top: 400px;
  width: 500px;
}

#contextMenu {
  position: fixed;
  left: -1000px;
  top: -1000px;
  width: 200px;
  height: 0px;
  display: block;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  transition-property: height;
  transition-duration: 0.05s;
}

.contextMenuButton {
  background-color: #bdbdbd;
  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;
  width: 200px;
}

.platoonCardHeaderPlatoonName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* MAP */

#MapBoundsBox {
  border: 5px solid black;
  position: fixed;
}

.squadMarker {
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  font-size: 200%;
  text-transform: uppercase;
  cursor: pointer;
  position: fixed;
  color: #DDD;
  text-align: justify;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.normalMarker .squadMarker {
  height: 34px;
  width: 34px;
}

.smallMarker .squadMarker {
  height: 28px;
  width: 28px;
  font-size: 170%;
  color: black;
}

.smallMarker .squadMarker .squadArrow {
  border-width: 0 2px 2px 0;
}

.tinyMarker .squadMarker {
  height: 22px;
  width: 22px;
  border-width: 1px;
  font-size: 150%;
  -webkit-text-stroke-width: 0px;
  color: black;
}

.tinyMarker .squadMarker .squadArrow {
  border-width: 0 1px 1px 0;
}

.squadMarkerLetter {
  position: relative;
  top: -17px;
}

.squadMarkerLettera {
  left: -7px;
}

.squadMarkerLetterb {
  left: -4px;
}

.squadMarkerLetterc {
  left: -7px;
}

.squadMarkerLetterd {
  left: -5px;
}

.squadList div {
  display: inline-block;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.squadArrow {
  border-color: white;
  position: absolute;
}

/* Unsure if those are still needed */

#addPlatoon {
  display: inline-block;
}

#debugDisplay {
  top: 0px;
  right: 0px;
  position: absolute;
}